# Git Ignore for Memories Wizard

# General
**/[Bb]in/
**/[Oo]bj/
.vs/
.vscode/
.DS_Store

# Windows Source
win/*.user
win/*.userosscache
win/*.sln.docstates

# macOS Source
macos/**/*.xcworkspace
macos/**/xcuserdata/
macos/**/DerivedData/
macos/**/*.moved-aside
macos/**/*.xcuserstate

# Temporary / Build Artifacts
tmp
